<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.core.mapper.ProductCategoryMapper">
	<resultMap id="BaseResultMap"
		type="com.product.core.pojo.ProductCategory">
		<id column="product_category_id" property="productCategoryId"
			jdbcType="INTEGER" />
		<result column="product_category_name"
			property="productCategoryName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- <select id="findById" resultMap="BaseResultMap"> select *from product_category 
		where product_category_id = #{id} </select> -->

	<select id="findAll" resultMap="BaseResultMap">
		select * from product_category
	</select>

	<insert id="save">
		insert into product_category (
		product_category_name,
		create_time,update_time
		) values
		<foreach collection="categoryList" item="productCategory"
			index="index" separator=",">
			(
			#{productCategory.productCategoryName},
			#{productCategory.createTime},
			#{productCategory.updateTime}
			)
		</foreach>
	</insert>
	
	<update id="update" >
		update product_category
		<set>
			<if test="productCategory.productCategoryName != null">product_category_name =
				#{productCategory.productCategoryName},</if>
			<if test="productCategory.createTime != null">create_time = #{productCategory.createTime},</if>
			<if test="productCategory.updateTime != null">update_time =#{productCategory.updateTime}</if>
		</set>
		<where>
			product_category_id = #{productCategory.productCategoryId}
		</where>
	</update>
</mapper>